html {
    overflow-x: hidden;
}

body {
    background: #111;
    color: #fff;

    min-height: 100vh;
    overflow-y: scroll !important;
    width: 100vw;
    z-index: -1;
}

.noise {
    position: relative;
}

.noise::before {
    background: url("/assets/noise.webp") repeat;
    content: "";
    position: absolute;
    opacity: 0.15;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.katex-mathml {
    display: none;
}

.katex-html {
    font-size: 0.85em !important;
}

.katex-html,
.katex *,
.katex .mathnormal,
.katex-html* {
    font-family: sans-serif !important;
}

article {
    font-family: sans-serif;
    max-width: min(80ch, 720px);
    font-weight: 400;
    line-height: 1.5;
    font-size: 18px;
}

block {
    display: block !important;
    position: relative;
    border-radius: 16px;
    background: #a2f4;
    height: 200px;
    width: 100%;
}

block::after {
    content: "";
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 150px;
    height: 150px;
    /* <a href="https://www.vecteezy.com/free-png/anime-cat">Anime Cat PNGs by Vecteezy</a> */
    background: url("/assets/cat.png") no-repeat center center;
    background-size: cover;
}

block::before {
    content: "Come back later! Kinda eepy right now.";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-weight: 300;
    font-size: 1.2em;
}

span[id*="dfn-"] {
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #0000;
    transition: border 0.2s ease-in-out;
}

span[id*="dfn-"]:hover {
    cursor: pointer;
    border: 1px solid #000;
}