# GEN
.DS_Store
**/.DS_Store
logs
*.log

# NODE
node_modules/
**/*.css.map
**/*.js.map
posts/*-ig/

# APP
.svelte-kit/
.svelte/
build/
static/images/set
secrets/

# Added by cargo

/target
/Cargo.lock
pkg/
target/