:root {
  --hl-0: #2af;
  --hl-1: #a2f;
  --hl-2: #f2a;
  --hl-3: #fa0;
  --hl-4: #2c8;
  --hl-5: #950;
}

iframe[src*="youtube"] {
  width: min(100%, 600px);
  margin: 5px auto;
  border-radius: 10px;
  display: block;
  border: 0;
  aspect-ratio: 16/9;
}

hl[ix="0"] {
  color: var(--hl-0);
}

hl[ix="1"] {
  color: var(--hl-1);
}

hl[ix="2"] {
  color: var(--hl-2);
}

hl[ix="3"] {
  color: var(--hl-3);
}

hl[ix="4"] {
  color: var(--hl-4);
}

hl[ix="5"] {
  color: var(--hl-5);
}

.scroll-x {
  max-width: 100%;
  overflow-x: auto;
}

img {
  max-width: 100%;
  max-height: min(100%, 300px);
  border-radius: 10px;
  margin: 5px auto;
}

a,
a:visited,
a:hover,
a:active {
  color: #00f;
  text-decoration: underline;
}

/* add css counter for toc */
#toc {
  display: flex;
  width: 100%;
}

#toc ul {
  margin: 0;
  counter-reset: toc;
  padding: 0 0 10px 1ch;
  width: 100%;
  overflow-x: scroll;
}

#toc ul:first-child {
  display: flex;
}

#toc ul:first-child li {
  /* border-right: 1px solid #ccc8; */
  border-image: linear-gradient(to right, #0000 0%, #0000 90%, #cccc 100%) 1;
  border-width: 2px;
  border-style: solid;
  margin-right: 8px;
  padding-right: 8px;
}

#toc ul:first-child ul li {
  border: none;
}

#toc ul li:before {
  font-size: 1.25rem;
}

#toc ul ul {
  overflow: hidden;
}

#toc ul ul li::before {
  font-size: 1rem;
}

#toc li {
  min-width: 250px !important;
  list-style: none;
  line-height: 1.5em;
}

#toc>ul li a {
  color: #444;
  font-size: 1.25rem;
}

#toc>ul li li a {
  color: var(--theme-hl);
  font-size: 1rem;
}

#toc li:before {
  counter-increment: toc;
  content: counter(toc) " ";
  font-weight: 400;
  color: #444;
}

article p:first-of-type {
  margin-top: 0;
}