html {
  overflow-x: hidden;
}

body {
  background: #111;
  color: #fff;

  min-height: 100vh;
  overflow-y: scroll !important;
  width: 100vw;
  z-index: -1;
}

body.light {
  background: #eee !important;
  color: #222 !important;
}

body.light::before {
  filter: invert(1);
  opacity: 0.2 !important;
}

.noise {
  position: relative;
}

.noise::before {
  background: url('/assets/noise.webp') repeat;
  content: '';
  position: absolute;
  opacity: 0.15;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.katex-mathml {
  display: none;
}

p .katex-html,
.katex-html {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive !important;
  font-weight: 300 !important;
  font-size: 18px !important;
}

article {
  font-family: "Comic Sans MS", sans-serif;
  max-width: min(80ch, 720px);
  line-height: 1.5;
  font-size: 18px;
}