:root {
  interpolate-size: allow-keywords;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font: 300 16px helvetica;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@property --P {
  syntax: "<length> | <percentage>";
  inherits: false;
  initial-value: 0px;
}

@property --M {
  syntax: "<length> | <percentage>";
  inherits: false;
  initial-value: 0px;
}

@property --PT {
  syntax: "<length> | <percentage>";
  inherits: false;
  initial-value: 0px;
}

@property --PB {
  syntax: "<length> | <percentage>";
  inherits: false;
  initial-value: 0px;
}

@property --PL {
  syntax: "<length> | <percentage>";
  inherits: false;
  initial-value: 0px;
}

@property --PR {
  syntax: "<length> | <percentage>";
  inherits: false;
  initial-value: 0px;
}

@property --MT {
  syntax: "<length> | <percentage>";
  inherits: false;
  initial-value: 0px;
}

@property --MB {
  syntax: "<length> | <percentage>";
  inherits: false;
  initial-value: 0px;
}

@property --ML {
  syntax: "<length> | <percentage>";
  inherits: false;
  initial-value: 0px;
}

@property --MR {
  syntax: "<length> | <percentage>";
  inherits: false;
  initial-value: 0px;
}

table {
  border-collapse: collapse;
}

a,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
}

svg {
  stroke: currentcolor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1;
}


img {
  object-fit: cover;
}

*::-webkit-scrollbar {
  display: none;
}

input,
button,
select,
textarea {
  position: relative;
  border: 0;
  outline: 0;
  margin: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}

.blur {
  --bg: #222 8;
  --sz: 32px;
  background: var(--bg);
  backdrop-filter: blur(var(--sz));
  -webkit-backdrop-filter: blur(var(--sz));
}

.rpm-0 {
  margin: 0;
  padding: 0;
  border-radius: 0;
  --P: 0px;
  --M: 0px;
}

.rpm-5 {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  --P: 5px;
  --M: 5px;
}

.rpm-10 {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  --P: 10px;
  --M: 10px;
}

.rpm-20 {
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  --P: 20px;
  --M: 20px;
}

.o-0 {
  opacity: 0;
}

.o-25 {
  opacity: 0.25;
}

.o-33 {
  opacity: 0.33;
}

.o-50 {
  opacity: 0.5;
}

.o-66 {
  opacity: 0.66;
}

.o-75 {
  opacity: 0.75;
}

.o-100 {
  opacity: 1;
}

.b0 {
  border: 0 !important;
  outline: none !important;
}

.p0 {
  padding: 0;
  --P: 0px;
}

.p2 {
  padding: 2px;
  --P: 2px;
}

.p5 {
  padding: 5px;
  --P: 5px;
}

.p10 {
  padding: 10px;
  --P: 10px;
}

.p20 {
  padding: 20px;
  --P: 20px;
}

.m0 {
  margin: 0;
  --M: 0px;
}

.m2 {
  margin: 2px;
  --M: 2px;
}

.m5 {
  margin: 5px;
  --M: 5px;
}

.m10 {
  margin: 10px;
  --M: 10px;
}

.m20 {
  margin: 20px;
  --M: 20px;
}

.mx-a {
  margin: 0 auto;
}

.pt0 { padding-top: 0px; --PT: 0px; }
.pt2 { padding-top: 2px; --PT: 2px; }
.pt5 { padding-top: 5px; --PT: 5px; }
.pt10 { padding-top: 10px; --PT: 10px; }
.pt20 { padding-top: 20px; --PT: 20px; }

.pb0 { padding-bottom: 0px; --PB: 0px; }
.pb2 { padding-bottom: 2px; --PB: 2px; }
.pb5 { padding-bottom: 5px; --PB: 5px; }
.pb10 { padding-bottom: 10px; --PB: 10px; }
.pb20 { padding-bottom: 20px; --PB: 20px; }

.pl0 { padding-left: 0px; --PL: 0px; }
.pl2 { padding-left: 2px; --PL: 2px; }
.pl5 { padding-left: 5px; --PL: 5px; }
.pl10 { padding-left: 10px; --PL: 10px; }
.pl20 { padding-left: 20px; --PL: 20px; }

.pr0 { padding-right: 0px; --PR: 0px; }
.pr2 { padding-right: 2px; --PR: 2px; }
.pr5 { padding-right: 5px; --PR: 5px; }
.pr10 { padding-right: 10px; --PR: 10px; }
.pr20 { padding-right: 20px; --PR: 20px; }

.px0 { padding-left: 0px; padding-right: 0px; --PL: 0px; --PR: 0px; }
.px2 { padding-left: 2px; padding-right: 2px; --PL: 2px; --PR: 2px; }
.px5 { padding-left: 5px; padding-right: 5px; --PL: 5px; --PR: 5px; }
.px10 { padding-left: 10px; padding-right: 10px; --PL: 10px; --PR: 10px; }
.px20 { padding-left: 20px; padding-right: 20px; --PL: 20px; --PR: 20px; }

.py0 { padding-top: 0px; padding-bottom: 0px; --PT: 0px; --PB: 0px; }
.py2 { padding-top: 2px; padding-bottom: 2px; --PT: 2px; --PB: 2px; }
.py5 { padding-top: 5px; padding-bottom: 5px; --PT: 5px; --PB: 5px; }
.py10 { padding-top: 10px; padding-bottom: 10px; --PT: 10px; --PB: 10px; }
.py20 { padding-top: 20px; padding-bottom: 20px; --PT: 20px; --PB: 20px; }

.mt0 { margin-top: 0px; --MT: 0px; }
.mt2 { margin-top: 2px; --MT: 2px; }
.mt5 { margin-top: 5px; --MT: 5px; }
.mt10 { margin-top: 10px; --MT: 10px; }
.mt20 { margin-top: 20px; --MT: 20px; }

.mb0 { margin-bottom: 0px; --MB: 0px; }
.mb2 { margin-bottom: 2px; --MB: 2px; }
.mb5 { margin-bottom: 5px; --MB: 5px; }
.mb10 { margin-bottom: 10px; --MB: 10px; }
.mb20 { margin-bottom: 20px; --MB: 20px; }

.ml0 { margin-left: 0px; --ML: 0px; }
.ml2 { margin-left: 2px; --ML: 2px; }
.ml5 { margin-left: 5px; --ML: 5px; }
.ml10 { margin-left: 10px; --ML: 10px; }
.ml20 { margin-left: 20px; --ML: 20px; }

.mr0 { margin-right: 0px; --MR: 0px; }
.mr2 { margin-right: 2px; --MR: 2px; }
.mr5 { margin-right: 5px; --MR: 5px; }
.mr10 { margin-right: 10px; --MR: 10px; }
.mr20 { margin-right: 20px; --MR: 20px; }

.mx0 { margin-left: 0px; margin-right: 0px; --ML: 0px; --MR: 0px; }
.mx2 { margin-left: 2px; margin-right: 2px; --ML: 2px; --MR: 2px; }
.mx5 { margin-left: 5px; margin-right: 5px; --ML: 5px; --MR: 5px; }
.mx10 { margin-left: 10px; margin-right: 10px; --ML: 10px; --MR: 10px; }
.mx20 { margin-left: 20px; margin-right: 20px; --ML: 20px; --MR: 20px; }

.my0 { margin-top: 0px; margin-bottom: 0px; --MT: 0px; --MB: 0px; }
.my2 { margin-top: 2px; margin-bottom: 2px; --MT: 2px; --MB: 2px; }
.my5 { margin-top: 5px; margin-bottom: 5px; --MT: 5px; --MB: 5px; }
.my10 { margin-top: 10px; margin-bottom: 10px; --MT: 10px; --MB: 10px; }
.my20 { margin-top: 20px; margin-bottom: 20px; --MT: 20px; --MB: 20px; }

.rx0 {
  border-radius: 0px;
}

.rx2 {
  border-radius: 2px;
}

.rx5 {
  border-radius: 5px;
}

.rx10 {
  border-radius: 10px;
}

.rx20 {
  border-radius: 20px;
}

.g0 {
  gap: 0px;
}

.g2 {
  gap: 2px;
}

.g5 {
  gap: 5px;
}

.g10 {
  gap: 10px;
}

.g20 {
  gap: 20px;
}

.rx2,
.rx5,
.rx10,
.rx20,
.rpm-0,
.rpm-5,
.rpm-10,
.rpm-20 {
  overflow: hidden;
}

.fw1 {
  font-weight: 100;
}

.fw3 {
  font-weight: 300;
}

.fw4 {
  font-weight: 400;
}

.fw5 {
  font-weight: 500;
}

.fw6 {
  font-weight: 600;
}

.fw7 {
  font-weight: 700;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}

.tj {
  text-align: justify;
}

.tl {
  text-align: left;
}

.j-ct {
  justify-content: center;
}

.j-bw {
  justify-content: space-between;
}

.j-ar {
  justify-content: space-around;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-66 {
  width: 66.66%;
}

.w-50 {
  width: 50%;
}

.w-33 {
  width: 33.33%;
}

.w-25 {
  width: 25%;
}

.sw {
  --W: 100%;
  width: calc(var(--W) - 2 * var(--M) - 2 * var(--P) - var(--ML) - var(--MR) - var(--PL) - var(--PR));
}

.sw-100 {
  width: calc(100% - 2 * var(--M) - 2 * var(--P) - var(--ML) - var(--MR) - var(--PL) - var(--PR));
}

.sw-75 {
  width: calc(75% - 2 * var(--M) - 2 * var(--P) - var(--ML) - var(--MR) - var(--PL) - var(--PR));
}

.sw-66 {
  width: calc(66.66% - 2 * var(--M) - 2 * var(--P) - var(--ML) - var(--MR) - var(--PL) - var(--PR));
}

.sw-50 {
  width: calc(50% - 2 * var(--M) - 2 * var(--P) - var(--ML) - var(--MR) - var(--PL) - var(--PR));
}

.sw-33 {
  width: calc(33.33% - 2 * var(--M) - 2 * var(--P) - var(--ML) - var(--MR) - var(--PL) - var(--PR));
}

.sw-25 {
  width: calc(25% - 2 * var(--M) - 2 * var(--P) - var(--ML) - var(--MR) - var(--PL) - var(--PR));
}

.h-100 {
  height: 100%;
}

.h-75 {
  height: 75%;
}

.h-66 {
  height: 66.66%;
}

.h-50 {
  height: 50%;
}

.h-33 {
  height: 33.33%;
}

.h-25 {
  height: 25%;
}

.sh {
  --H: 100%;
  height: calc(var(--H) - 2 * var(--M) - 2 * var(--P) - var(--MT) - var(--MB) - var(--PT) - var(--PB));
}

.sh-100 {
  height: calc(100% - 2 * var(--M) - 2 * var(--P) - var(--MT) - var(--MB) - var(--PT) - var(--PB));
}

.sh-75 {
  height: calc(75% - 2 * var(--M) - 2 * var(--P) - var(--MT) - var(--MB) - var(--PT) - var(--PB));
}

.sh-66 {
  height: calc(66.66% - 2 * var(--M) - 2 * var(--P) - var(--MT) - var(--MB) - var(--PT) - var(--PB));
}

.sh-50 {
  height: calc(50% - 2 * var(--M) - 2 * var(--P) - var(--MT) - var(--MB) - var(--PT) - var(--PB));
}

.sh-33 {
  height: calc(33.33% - 2 * var(--M) - 2 * var(--P) - var(--MT) - var(--MB) - var(--PT) - var(--PB));
}

.sh-25 {
  height: calc(25% - 2 * var(--M) - 2 * var(--P) - var(--MT) - var(--MB) - var(--PT) - var(--PB));
}

.f {
  display: flex !important;
}

.f-col {
  display: flex !important;
  flex-direction: column;
}

.fw {
  display: flex !important;
  flex-wrap: wrap;
}

.p-abs {
  position: absolute !important;
}

.p-fix {
  position: fixed !important;
}

.p-rel {
  position: relative !important;
}

.d-n {
  display: none;
}

.d-ib {
  display: inline-block;
}

.d-if {
  display: inline-flex;
}

.d-i {
  display: inline;
}

.d-c {
  display: contents;
}

.d-b {
  display: block;
}

.d-u {
  display: unset;
}

.d-g {
  display: grid;
}

.flow-x-s {
  overflow-x: scroll;
}

.flow-y-s {
  overflow-y: scroll;
}

.flow-x-h {
  overflow-x: hidden;
}

.flow-y-h {
  overflow-y: hidden;
}

.flow-h {
  overflow: hidden;
}

.ptr {
  cursor: pointer;
}

.dead {
  pointer-events: none;
  user-select: none;
}

.al-ct {
  align-items: center;
}

.cc {
  display: flex;
  justify-content: center;
  align-items: center;
}