.fade {
  will-change: opacity;
  animation: fade 0.4s ease-in forwards;
}

.fade-right {
  will-change: opacity, transform;
  animation: fade-right 0.4s ease-in forwards;
}

.fade-left {
  will-change: opacity, transform;
  animation: fade-left 0.4s ease-in forwards;
}

.fade-down {
  will-change: opacity, transform;
  animation: fade-down 0.4s ease-in forwards;
}

.fade-up {
  will-change: opacity, transform;
  animation: fade-up 0.4s ease-in forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-down {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-up {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}